.mat-grid-tile {
    border: solid 3px white;
    padding:0px !important;
    padding-top:0px !important;
    border-spacing:0px;
    vertical-align: top;
    transition: all 0.2s ease-in-out;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.8);
    user-select: none
}

.mat-grid-tile:hover {
    transform:scale(1.05);
    z-index: 1;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.8);
  }
  
.mat-grid-tile:active {
    transform:scale(1.1);
    transition: all 0.01s ease-in-out;
    box-shadow: 15px 30px 20px rgba(0, 0, 0, 0.8);
  }

  .cell-label{
    font-size: 2em !important;
    color: white;
    font-family:serif;
}